:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}

body {
    background: var(--mainWhite) !important;
}

.text-title {
    font-family: 'Permanent Market', cursive;
    text-transform: uppercase;
}

.navbar {
    justify-content: flex-start !important;
}